.MuiSlider-thumb:not(.MuiSlider-active) {
  transition: left 0.6s ease-in;
}

.MuiSlider-track {
  transition: width 0.6s ease-in;
}


.MuiSlider-markLabel:not(MuiSlider-markLabelActive) {
  color: white;
}

.MuiSlider-markLabel.MuiSlider-markLabelActive:last {
  color: cyan;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorPrimary {
  color: white
}

.MuiButton-label {
  color: white
}